@import url(//db.onlinewebfonts.com/c/08aae9f020949051ff8331be100607cb?family=Archive);
@import url(//db.onlinewebfonts.com/c/6be8b78f5eaa571c3fbf3a1908515cf6?family=Adumu);

*{
    background-color: #19BD9B;
    background-repeat: no-repeat;
    background-position: 93% 0%;
    background-size: 600px 600px;
}
body {
    margin: 0;
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #19BD9B;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.titulo-1{
    margin-top: 0.9em;
    margin-bottom: 0.1em;
    position: absolute;
    font-family: "Adumu";
    font-style: normal;
    font-weight: normal;
    font-size: 22vh;
    line-height: 52px;
    display: flex;
    align-items: flex-end;
    letter-spacing: -0.015em;
    color: #FFFFFF;
    left: 40px;
}
.titulo-2{
    color: #1e7a65;
    font-family: "Adumu";
    font-size:6.9vh;
    margin-top: 5em;
    position:absolute;
    left:40px
}
.titulo-3{
    font-family: "Adumu";
    font-size: 8vh;
    margin-top: 70vh;
    position: absolute;
    left: 16%;
    color:aquamarine;
}
#logo-eic{
    top:85%;
    left:93.4%;
    position: absolute;
    width: 50px;
}
#play{
    margin-top: 71vh;
    position: absolute;
    color: #FFFFFF;
    left:10%;
    width: 60px;
    border: 10px solid #FFFFFF;
    border-radius: 70px; 
}
.titulo-4{
    color: black;
    font-family: "Adumu";
    font-size:5vh;
    top:90% ;
    position:absolute;
    left:70%;
    text-decoration: none;
}
.titulo-5{
    margin-top: 0.6em;
    margin-bottom: 0.1em;
    position: absolute;
    font-family: "Adumu";
    font-style: normal;
    font-weight: normal;
    font-size: 18vh;
    line-height: 52px;
    display: flex;
    align-items: flex-end;
    letter-spacing: -0.015em;
    color: #FFFFFF;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.titulo-6{
    left: 50%;
    font-family: "Adumu";
    font-size: 5.6vh;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    position: absolute;
    margin-top: 10%;
    color: #B3F2CB;
}
.btn-inicio{
    margin-top: 27%;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.col-lg-auto{
  font-family: Archive;
  width: 300px;
  margin-top: 30px;
  margin-left: 10px;
}
.button{
    text-align: center;
    background-color: #FFFFFF;
    height: 80px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.name{
    color: black;
    text-align: center;
    background-color: transparent;
    text-decoration: none;
}
.titulo-10{
    background-color: transparent;
    color: black;
    font-family: "Adumu";
    font-size: 4vh;
    text-decoration: none;
    margin-top: 86vh;
    margin-left: 100px;
    position: absolute;
}
.titulo-11{
    background-color: transparent;
    color: black;
    font-family: "Adumu";
    font-size: 4vh;
    text-decoration: none;
    margin-top: 80vh;
    margin-left: 150px;
    position: absolute;
}
.titulo-12{
    background-color: transparent;
    color: black;
    font-family: "Adumu";
    font-size: 4vh;
    text-decoration: none;
    margin-top: 86vh;
    left: 142vh;
    position: absolute;
}
#img1{
    width: 170px;
    height: 170px;
    margin-top: 15%;
    margin-left:15%;
    background-color: #FFFFFF;
    border-radius: 20%;
    position: absolute;
}
#img3{
    width: 250px;
    height: 250px;
    margin-top: 280px;
    margin-left:-7%;
    background-color: #FFFFFF;
    border-radius: 50%;
    position: absolute;
}
.menu-h{ /* img retorno menu */
    position: relative;
    width: 30px;
    height: 30px;
    background-color: #FFFFFF;
    border-radius: 100%; 
}
.bkg1{
    background-color: #FFFFFF;
    height: 250px;
    width:250px;
    border-radius: 50%;
    margin-top: 280px;
    margin-left: 6%;
   position: absolute;
}
#img2{
    background-color: aquamarine;
    border-radius: 200px;
    width: 400px;
    margin-top: 7%;
    margin-left: 5%;
    position: absolute;
}

.inicio{
    top: 80%;
    position: absolute;
    color: #B3F2CB;
    font-family: "Adumu";
    padding-bottom: 10px;
    left: 48px;
    font-size: 3.5vh;
}
.img-inicio{
    top:86%;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #FFFFFF;
    left: 50px;
}
.img-inicio img{
    position: relative;
    top: 17%;
    background-color: #FFFFFF;
    width: 25px;
    left: 23%;
}
.voltar{
    text-align: center;
}
#covid{
    width: 40px;
    background-color: #FFFFFF;
}