*{
background-color: #19BD9B;
}
.titulo-1{
    margin-top: 0.7em;
    margin-bottom: 0.1em;
    position: absolute;
    font-family: Unlock;
    font-style: normal;
    font-weight: normal;
    font-size: 20vh;
    line-height: 52px;
    display: flex;
    align-items: flex-end;
    letter-spacing: -0.015em;
    color: #FFFFFF;
    left: 40px;
}
.titulo-2{
    color: #1e7a65;
    font-family: Unlock;
    font-size:6.7vh;
    margin-top: 3.7em;
    position:absolute;
    left:40px
}
.titulo-3{
    font-family: Unlock;
    font-size: 8vh;
    margin-top: 70vh;
    position: absolute;
    left: 20%;
    color:aquamarine;
}
#logo-eic{
    top:90%;
    left:95%;
    position: absolute;
    width: 40px;
}
#play{
    margin-top: 72.5vh;
    position: absolute;
    color: #FFFFFF;
    left:14%;
    width: 60px;
    border: 10px solid #FFFFFF;
    border-radius: 70px; 
}
.titulo-4{
    color: black;
    font-family: Unlock;
    font-size:5vh;
    margin-top: 10px;
    position:absolute;
    left:70%;
    text-decoration: none;
}
#skip{
    width: 50px;
    padding-left: 10px;
}
.titulo-5{
    margin-top: 0.6em;
    margin-bottom: 0.1em;
    position: absolute;
    font-family: Unlock;
    font-style: normal;
    font-weight: normal;
    font-size: 18vh;
    line-height: 52px;
    display: flex;
    align-items: flex-end;
    letter-spacing: -0.015em;
    color: #FFFFFF;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.titulo-6{
    left: 50%;
    font-family: Unlock;
    font-size: 6vh;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    position: absolute;
    margin-top: 10%;
    color: aquamarine;
}
.btn-inicio{
    margin-top: 20%;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.col-lg-3{
    padding-left: 10px;
    text-align: left;
}