@import url(//db.onlinewebfonts.com/c/08aae9f020949051ff8331be100607cb?family=Archive);
@import url(//db.onlinewebfonts.com/c/6be8b78f5eaa571c3fbf3a1908515cf6?family=Adumu);
*{
    background-color: #19BD9B;
    background-size: 100%;
    background-repeat: no-repeat;
}

body {
    margin: 0;
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #19BD9B;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.video{
    padding: 5%;
}
.btn{
    border-radius: 50px;
    border: 2px solid aquamarine;
    /*background-color: transparent;*/
    width: 30%;
    background: -webkit-radial-gradient(rgb(192, 250, 230), rgb(144, 253, 217), aquamarine);
    position: absolute;

}

/* ------------------------------------- PRÓXIMO VÍDEO ------------------------------------- */

.button-next{
    bottom: 1%;
    right: 10%;
}
.titulo-7{
    background-color: transparent;
    color: #1e7a65;
    font-family: "Adumu";
    font-size: 4vh;
    position: relative;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center; 
}
#skip{
    background: rgb(144, 253, 217);
}

/* ------------------------------------ RETORNO MENU INICIAL ------------------------------------ */

.button-back{
    bottom: 1%;  
    left: 10%;
}
.titulo-8{
    background-color: transparent;
    color: #1e7a65;
    font-family: "Adumu";
    font-size: 4vh;    
    position: relative;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
#back{
    background: rgb(144, 253, 217);
}
